# **Data 301 - Milestone #2**
## *Nick Mercuri - 18981167*
Welcome to my data science project

# Task #1: Introduction to Markdown

Markdown code has been included throughout this document.

# Task #2: Introduction to Git Merges, Branches, and More

Git Introduction Completion

<img src="Intro_Completion.png" width="800px">

Git Remotes Completion

<img src="Git_Remotes_Completion.png" width="800px">

# Task #3: Method Chaining and Python Programs

In [118]:
import pandas as pd
from Scripts/ import project_functions

SyntaxError: invalid syntax (<ipython-input-118-6bac0bb784e5>, line 2)

In [111]:
# Chain 1 - Import data and remove any players that did not attend a US University prior to entering the NBA

#Function name: import_and_filter

players_stats_og = pd.read_csv('/Users/Nick/Desktop/Final Project/data/raw/players_stats.csv')

players_stats_university = (
players_stats_og[players_stats_og['Collage'].notnull()]
.reset_index()
.drop(columns=['index']) 
)

players_stats_university

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,Willie Green,52,951,306,118,306,38.6,42,121,34.7,...,34.0,us,"July 28, 1981",University of Detroit Mercy,11,190.0,SG,ORL,90.00,24.930748
346,Wilson Chandler,78,2471,1085,418,975,42.9,139,406,34.2,...,28.0,us,"May 10, 1987",DePaul University,7,200.0,SF,DEN,101.25,25.312500
347,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
348,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
349,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236

In [116]:
#Chain 2 - Drop unwanted columns, rename columns, and sort by position

#Function name: wrangle_and_process

players_stats_university_wrangled = (
players_stats_university.rename(columns={'Pos' : 'Position'})
.sort_values(by = 'Position', ascending=False)
.reset_index()
.drop(columns = ['BMI', 'Height', 'Weight', 'Birth_Place', 'index'])
)

players_stats_university_wrangled

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,PF,EFF,AST/TOV,STL/TOV,Age,Birthdate,Collage,Experience,Position,Team
0,Jamal Crawford,64,1703,1010,332,839,39.6,119,364,32.7,...,108,741,1.72,0.64,35.0,"March 20, 1980",University of Michigan,14,SG,LAC
1,Jimmy Butler,65,2513,1301,421,912,46.2,73,193,37.8,...,108,1381,2.28,1.23,26.0,"September 14, 1989",Marquette University,3,SG,CHI
2,JJ Redick,78,2409,1277,447,938,47.7,200,458,43.7,...,134,1022,1.44,0.41,31.0,"June 24, 1984",Duke University,8,SG,LAC
3,Kent Bazemore,75,1324,390,141,331,42.6,48,132,36.4,...,127,472,1.07,0.71,26.0,"July 1, 1989",Old Dominion University,2,SG,ATL
4,Tim Hardaway Jr.,70,1681,804,279,717,38.9,121,354,34.2,...,119,570,1.55,0.24,23.0,"March 16, 1992",University of Michigan,1,SG,NYK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,DeMarcus Cousins,59,2013,1421,498,1066,46.7,2,8,25.0,...,241,1631,0.83,0.35,25.0,"August 13, 1990",University of Kentucky,4,C,SAC
346,Steven Adams,70,1771,537,217,399,54.4,0,2,0.0,...,222,867,0.67,0.38,22.0,"July 20, 1993",University of Pittsburgh,1,C,OKC
347,Tarik Black,63,1195,379,157,273,57.5,0,1,0.0,...,158,615,0.88,0.40,24.0,"November 22, 1991",University of Kansas,R,C,LAL
348,DeAndre Jordan,82,2820,946,379,534,71.0,1,4,25.0,...,245,1949,0.56,0.74,27.0,"July 21, 1988",Texas A&M University,6,C,LAC
349,Meyers Leonard,55,847,327,125,245,51.0,47,112,42.0,...,113,472,0.82,0.26,23.0,"February 27, 1992",University of Illinois at Urbana-Champaign,2,C,POR

In [117]:
# Chain 3 - Create seperate dataframes for each position - Need to remove columns that are not relevant for the position and calculate a weighted rating.

#Function name: filter_by_position

players_stats_university_wrangled_PG = (
players_stats_university_wrangled.loc[players_stats_university_wrangled['Position'] == 'PG']
.sort_values(by = 'Name', ascending=True)
.reset_index()
.drop(columns=['index'])
#.assign(new column that calcuates each player's weighted score)
)

players_stats_university_wrangled_SG = (
players_stats_university_wrangled.loc[players_stats_university_wrangled['Position'] == 'SG']
.sort_values(by = 'Name', ascending=True)
.reset_index()
.drop(columns=['index'])
#.assign(new column that calcuates each player's weighted score)
)

players_stats_university_wrangled_SF = (
players_stats_university_wrangled.loc[players_stats_university_wrangled['Position'] == 'SF']
.sort_values(by = 'Name', ascending=True)
.reset_index()
.drop(columns=['index'])
#.assign(new column that calcuates each player's weighted score)
)

players_stats_university_wrangled_PF = (
players_stats_university_wrangled.loc[players_stats_university_wrangled['Position'] == 'PF']
.sort_values(by = 'Name', ascending=True)
.reset_index()
.drop(columns=['index'])
#.assign(new column that calcuates each player's weighted score)
)

players_stats_university_wrangled_C = (
players_stats_university_wrangled.loc[players_stats_university_wrangled['Position'] == 'C']
.sort_values(by = 'Name', ascending=True)
.reset_index()
.drop(columns=['index'])
#.assign(new column that calcuates each player's weighted score)
)